body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: url('background.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}
