body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 500;
  opacity = 0;
}


iframe {
  width: 50vw; /* 50% ширины экрана */
  height: 28.125vw; /* 16:9 пропорции (9 / 16 * 50) */
  max-width: 800px; 
  max-height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none; /* Убираем рамку iframe */
  z-index: 500;
  opacity = 0;
}

button {
  width: 100px;
  height: 100px;
  position: fixed; /* изменено на fixed */
  top: 0;
  left: 0;
  background-color: #333;
  border: none;
  font-size: 16px;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 999;
}
