/* Стили для iframe вместо модального окна */
.modal iframe {
  position: fixed;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  overflow: hidden;
  border: none;
  position: relative; /* Добавлено */
}

/* Используем стиль заднего фона из .modal-overlay */
.modal iframe::before {
  content: ""; /* Добавлено пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('background.jpg') no-repeat center center fixed; /* Используем задний фон из .modal-overlay */
  background-size: cover; /* Растягиваем фон на всю площадь iframe */
  z-index: -1; /* Устанавливаем z-index ниже контента iframe */
}

/* настройки кнопки перезапуска игры для iframe */
.modal iframe .restart {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  opacity: 0;
  background-image: url('full.png');
  background-size: cover;
  border: none;
  padding: 0;
  font-size: 30px;
  border: 1px solid #222;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
}

/* Скрытие кнопки перезапуска при загрузке */
.modal iframe.loading .restart {
  display: none;
}

/* Стили для loader вместо модального окна */
.modal iframe .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #40E0D0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
